<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<body>
<div th:replace="layout :: {}">
  <div th:fragment="content">
    <h1>Change Password</h1>
    
<form th:action="@{/account/change-password}" method="post">
  <label>Current password
    <input type="password" name="currentPassword" required>
  </label>
  <label>New password
    <input type="password" name="newPassword" required>
  </label>
  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
  <button type="submit">Change password</button>
</form>

  </div>
</div>
</body>
</html>