<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<body>
<div th:replace="~{layout :: layout(~{::content})}">
  <div th:fragment="content">
    <div th:if="${param.error}" class="danger" th:with="err=${param.error[0]}">
      <div th:switch="${err}">
        <p th:case="'disabled'">Your account isn’t enabled yet. Please confirm your email.</p>
        <p th:case="'locked'">Your account is locked. Contact support.</p>
        <p th:case="'credExpired'">Your password has expired. Please reset it.</p>
        <p th:case="'acctExpired'">Your account has expired. Contact support.</p>
        <p th:case="*">Invalid username or password.</p>
      </div>
    </div>
    <h1>Login</h1>
    
<form th:action="@{/login}" method="post">
  <label>Username
    <input type="text" name="username" autocomplete="username" required>
  </label>
  <label>Password
    <input type="password" name="password" autocomplete="current-password" required>
  </label>
  <label><input type="checkbox" name="remember-me"> Remember me</label>
  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
  <button type="submit">Sign in</button>
</form>
<p><a th:href="@{/forgot-password}">Forgot password?</a></p>

  </div>
</div>
</body>
</html>